[2012-09-20 17:10] luisfeliu opened #2 "ReferenceError: Can't find variable: require"
I'm sure this is just due to my limited knowledge of JavaScript, but the collections by themselves are not standalone.

Within the head of my html file, I include a js file that has the following line of code (as in the demo):

var SortedMap = require("jsCollections/sorted-map");

When the page loads, I get the following error on the console:

"ReferenceError: Can't find variable: require "

So, I

[2012-09-21 18:45] #2 closed, assigned to nobody

[2012-09-29 23:28] Stuk opened #3 "Set auto-construct arguments wrong"
https://github.com/kriskowal/collections/blob/cdcbf349ca60014eb94ec9c978d263336eac667c/set.js#L15

[code]

should be

[code]

[2012-09-30 03:46] #3 closed, assigned to nobody

[2012-10-13 11:39] Yaffle opened #4 "Map iteration"
from latest ES 6 draft, i see, that Map from ES6 should be iterated in insertion order;
test-case:

var map = new Map();
map.set(-1, 0);
map.set(1, 1);
map.set(2, 2);
map.set(3, 3);
map.forEach(function (value, key) {
  console.log(key + ': ' + value);
});
/\* under node.js:
1: 1
2: 2
3: 3
-1: 0
*/

should be:
-1: 0
1: 1
2: 2
3: 3

[2012-10-18 18:18] #4 closed, assigned to nobody

[2012-10-22 02:04] Yaffle opened #5 "How to use this code browser-side?"

[2012-10-27 00:13] #5 closed, assigned to nobody

[2012-10-27 06:57] kriskowal opened #6 "WeakMap shim apparently broken in Safari"

[2012-11-21 06:06] alfredwesterveld opened #7 "does not work using node.js"
[code]

I think package.json needs to be updated with something like:

[code]

[2013-01-11 01:49] kriskowal opened #8 "Use event emitter"
@domenic requests `map.on(eventName, listener)` instead of `map.addMapChangeListener(listenerWithComplicatedLogicToFigureOutItWasAnAdd)`.

This is really two issue: one is that he’d like less verbose syntax.

Second, he’d prefer to have separate event listeners for addition and deletion, instead of having to infer whether the change is an add or delete based on the value.

[2013-01-17 12:35] Yaffle opened #9 "modification at time of iteration"
Hello

[code]

this code prints "1; 3; 4" in FF 18 with "native" Set and
"1; 2; 3; 4" with your code

could you please document how your iteration works with modification

[2013-02-12 23:00] Stuk opened #11 "Give informative error on bad listener"
https://github.com/montagejs/collections/blob/master/listen/property-changes.js#L169-174

If the listener doesn't implement any of the delegate methods, and isn't a function you get the ambiguous error `Uncaught TypeError: Object #<Object> has no method 'call'`

Would be nice to give a better error.

[2013-03-02 01:16] bcw opened #12 "circular dependencies (causing errors in demo script)"
Hi.  There seem to be circular dependencies between "generic-collection.js" and "shim-array.js": both `require` each other, and [apparently node.js does not handle this well](http://www.selfcontained.us/2012/05/08/node-js-circular-dependencies/).  This seems to be the cause for the command

[code]

to fail with the following error:

[code]

It seems the Array shim needs the methods on GenericColle

[2013-03-02 17:29] #12 closed, assigned to nobody

[2013-03-02 17:57] #7 closed, assigned to nobody

[2013-03-21 15:47] PierreFrisch opened #13 "List does not implement RangeChanges"
As the title says the line:

Object.addEach(List.prototype, RangeChanges.prototype);

is missing

[2013-03-25 18:22] #13 closed, assigned to nobody

[2013-04-11 13:33] thanpolas opened #18 "addMapChangeListener arguments token and before"
I read in the docs about the events emitted by the Map:

[code]

But i cannot find the functionality of the `token` and `before` arguments. I looked in the tests and they are not being used, no mention in the docs...

Do they serve a purpose?

[2013-04-11 18:27] #18 closed, assigned to nobody

[2013-04-12 04:54] AlexeyKupershtokh opened #19 "Redis-like sorted sets."
Sorry for creating an issue. It's more like a question actually.

I would like to understand how to create redis-like sorted sets (let's call them RSS) with the `collections` ones (CSS) since they are not the same. RSS also seem that it can't be done as Sorted Map since RSS require handling of non-unique scores.

As @antirez [told](http://stackoverflow.com/a/9626334/1282975) sorted sets in Redis a

[2013-04-30 23:12] #19 closed, assigned to nobody

[2013-05-03 15:19] calebcase opened #21 "package.json URLs are incorrect."
Repository http://github.com/kriskowal/collections.git (git)
Homepage http://github.com/kriskowal/collections
Bugs http://github.com/kriskowal/collections/issues

However, kriskowal doesn't have a collections repo (anymore?).

[2013-05-03 16:35] #21 closed, assigned to nobody

[2013-07-12 13:43] syvuilliot opened #23 "No rangeChange event on Set#clear"
A "set" collection does not dispatch a rangeChange when the "clear" method is used

[2013-07-12 13:47] syvuilliot opened #24 "Only one rangeChange event on Set#addEach"
What do you think about dispatching only one rangeChange event when using the "addEach" method on a "set" collection instead of dispatching one event per item added ?

[2013-07-15 01:59] #23 closed, assigned to nobody

[2013-08-06 21:30] #6 closed, assigned to nobody

[2013-08-21 14:49] MauricevanLeeuwen opened #26 "findLeastGreaterThan(value)"
When SortedSet.findLeastGreaterThan(value) is used, and value is _not_ in the tree, the behavior is very odd.

Same issue applies to the other variants findGreatestLessThan and findGreatestLessOrEqualThan.

[2013-09-09 04:54] kriskowal opened #27 "SortedArray handles incomparable values poorly"
If multiple, incomparable values are added to a sorted array, and subsequently removed, the sorted array should behave effectively like a plain array with push and pop. As yet, the search functions are returning indeterminate values and adding removing values from seemingly random positions.

See: https://github.com/montagejs/frb/pull/13

[2013-09-14 20:47] wpk- opened #29 "typo in lru-set.js"
On line 98 in lru-set.js "this.dispatcheRangeChange([], [value], 0);"
should be "this.dispatchRangeChange([], [value], 0);"

[2013-09-14 21:22] #29 closed, assigned to nobody

[2013-10-02 12:05] thanpolas opened #36 "Array.prototype is modified"
I had an issue  (verbling/assetflow#10) in one of my libraries, were a developer has conflict problems because Collections alters the Array.prototype. I am quoting @amptron:

[code]

What do you suggest the best course of action should be?

[2013-10-07 17:00] Stuk opened #37 "Add splice to Set"

[2013-11-14 14:20] thanpolas opened #39 "Linter problems..."
I know this isn't a _Collections_ issue but i thought i'd ask here first...

jshint will always create a warning on my sublime editor when requiring a struct, e.g:

[code]

The above will produce this lint error: `Redefinition of 'Map'`

I have the same with Set... are these reserved keywords or it's a jshint issue?

[2013-11-19 14:49] #39 closed, assigned to nobody

[2014-01-31 07:50] kriskowal opened #49 "Rewrite Iterator"
The ES6 spec has changed significantly and for the better regarding iterators since time of writing the iterator module.

https://github.com/montagejs/collections/blob/master/iterator.js

Iterators now return “iteration” objects with `value` and `done`. We may extend this to include `index` for array iterations and `node` otherwise, or simply elect to reuse nodes as iterations for lists.

Also, `i

[2014-02-20 01:00] kriskowal opened #56 "Carefully consider gracefully ignoring property changes on immutable properties"
Depending on a combination of object extensibility, writability, and configurability, failing to install a thunk on that property might be indistinguishable from succeeding. Observing an immutable property should not throw an error.

[2014-03-20 20:53] tsouza opened #62 "SortedMap.some is broken in v2.0.0"
The iterator callback is being invoked with undefined key and value.

Here is a script that reproduces the bug:

[code]

Will output:

[code]

[2014-03-24 20:41] sidazhang opened #63 "How to use SortedArray with incomparable values? (tests included)"
I am trying to sort values that are sometimes incomparable with each other. The data that I am sorting resembles a tree where
1. if a depends on b, then a should be sorted after b
2. if b depends on a, then b should be sorted after b
3. if neither a or b depend on each other then they are incomparable.
#### Below is my example code:

[code]
#### This is the test output (with my annotation):

[code

[2014-04-03 20:30] cbarrick opened #64 "SortedArraySet#length not updating"
SortedArraySet#length doesn't update when you `.pop()` and `.shift()`

Here's an example from the Node REPL:

[code]

[2014-04-03 20:57] #64 closed, assigned to nobody

[2014-04-14 00:56] #49 closed, assigned to nobody

[2014-04-14 00:58] #36 closed, assigned to hthetiot

[2014-04-30 23:46] buchanae opened #70 "Must you modify core prototypes? e.g. Object.prototype"
I notice you "shim" a bunch of things onto core prototypes, e.g. Object.addEach.  Is that really necessary? Isn't it taboo to modify Object.prototype?

Can you at least point me to the ECMAScript standard that is planning to implement Object.addEach and all its friends? I can't find it.

I want to use your library, but honestly I get a bad feeling about all this modification of core prototypes.

[2014-04-30 23:56] #70 closed, assigned to nobody

[2014-05-16 05:25] #26 closed, assigned to nobody

[2014-05-28 04:03] #11 closed, assigned to kriskowal

[2014-05-28 17:05] NV opened #74 "Implement deepFlatten such that [[[1], 2], 3].deepFlatten().equals([1, 2, 3])"

[2014-05-28 17:48] #62 closed, assigned to nobody

[2014-05-28 17:51] #8 closed, assigned to nobody

[2014-05-28 17:55] #24 closed, assigned to nobody

[2014-05-29 14:12] kriskowal opened #75 "Create Collections documentation micro-site"
It should be easier to look up what collections implement a method and what methods are implemented by a collection. Create a micro-site that makes it easy to browse in both dimensions.

[2014-05-30 22:43] kriskowal opened #76 "Generate collections documentation data"
Create a directory with a markdown document for each interface, collection, and method, method + collection caveat

[2014-06-07 22:44] #76 closed, assigned to kriskowal

[2014-06-12 01:29] simurai opened #77 "Remove www"
not a big issue, but is it possible to remove the `www` in front of the hostname of `www.collectionsjs.com`?

Is the reason because GitHub pages can use a CDN that way?

[2014-06-12 01:34] #77 closed, assigned to nobody

[2014-06-21 18:21] ashwinr opened #78 "Use bower.json"
Please integrate with bower for those wanting to use this on a browser

[2014-06-23 11:14] thanpolas opened #79 "Add .length property to documentation"
For any type of collection I don't see any way to count the items stored within that collection... Is using `.toArray().length` the suggested way? Am i missing something? If not maybe we should add this to all collections?

[2014-06-25 06:13] zoomclub opened #81 "Can these be applied via JSON?"
I'm de/serializing data structures as JSON. How would these alternate collections be used with JSON documents? For instance, if I would choose the enhanced array how would a JSON deserializer know that it should instantiate the enhanced array versus the standard array?

[2014-06-25 19:48] #75 closed, assigned to Stuk

[2014-06-29 02:50] marchant opened #82 "The computation of handler names should b cached"
in property-changes.js, PropertyChanges.prototype.dispatchOwnPropertyChange:

[code]

is expensive and repeated all the time, wasting time and created garbage, a cache should be built over time

[2014-06-29 02:53] marchant opened #83 "Why a slice() in in PropertyChanges.prototype.dispatchOwnPropertyChange?"
[code]

it looks like it's creating an unnecessary shallow copy

[2014-07-11 18:11] #81 closed, assigned to nobody

[2014-07-13 02:46] tjwebb opened #88 "Cannot redefine property: clear"
I'm seeing this in node 0.11.13:

[code]

[2014-07-13 05:47] #88 closed, assigned to nobody

[2014-07-13 14:50] kushal-likhi opened #89 "Moving to Node.js core"
Hi,

We are in process of introducing a `collections` module in the NodeJs core in the future versions of `NodeJs`. Instead of building a one from scratch we are thinking to take one from community which in popular and prepare it for the core.

If you are interested and have no objections in considering your module to be a contender to be moved to core, then let us know we can proceed further.

Th

[2014-07-15 00:33] #79 closed, assigned to nobody

[2014-08-07 18:31] gurkerl83 opened #90 "Angular.js is not working with collections.js"
Hi, We are developing a huge applications with different modules, e.g. a core module which has no ui, doing background actions, only. The UI layer is build with angular. The sequence of loading those modules is core first - requires collections.js, then the other modules gets loaded.

We are using browserify to glue each module and their dependencies together. The first time I include collections.

[2014-08-07 18:36] #89 closed, assigned to nobody

[2014-08-07 18:36] #83 closed, assigned to kriskowal

[2014-08-07 18:36] #82 closed, assigned to kriskowal

[2014-08-07 18:37] #56 closed, assigned to kriskowal

[2014-08-07 21:22] cdebost opened #91 "listen/array-changes:set method not working as intended"
When array-changes:set uses the swap method, the popcorn demo does not load the details for the first movie. This bug does not occur when swap() is replaced with splice().

This is partly because the call to splice does not call the method in array-changes.js but instead calls it in montage/core/range-controller.js. This outside method currently avoids the Popcorn bug but should eventually be refa

[2014-08-09 00:55] #91 closed, assigned to nobody

[2014-08-13 07:05] jramoyo opened #93 "SortedArraySet#find does not behave properly if equality and sort fields are different."
In the example below, elements in the set are identified as unique if the `name` fields are equal. Subsequently, they are sorted by the `instrument` field.

It is expected for `SortedArraySet#find` to return the correct indexes corresponding to the names. However, starting index 2, `find()` returns `-1`.

It appears that the `equals()` function is not getting called for all iterations (see log out

[2014-08-13 17:39] #90 closed, assigned to nobody

[2014-08-14 14:27] anilanar opened #94 "shim-array - global prototype modification"
https://github.com/kriskowal/q/issues/551

Although I think naming it `Array` makes the most sense considering the naming convention used by the library, doesn't it break the modular nature of it by modifying a global prototype?

[2014-08-15 04:12] #93 closed, assigned to nobody

[2014-09-01 16:29] cspotcode opened #95 "Eliminate shims in v2"
I'm evaluating whether or not to use this library for a project.  My project may use Secure ECMAScript (SES) in the future, meaning I cannot modify any built-in prototypes.  Secure ECMAScript enforces object-capability security by locking down all built-in objects (Object, Array, etc) so that they can't be modified.

Does your documentation explain how to use collections without modifying any buil

[2014-09-17 04:19] Stuk opened #96 ".some and .every return last value of callback, instead of true or false"
[code]

should return `true`, but returns `"hello"`

[2014-10-04 12:23] cspotcode opened #98 "Bug in FastSet: `.contains(s)` is true for all single-character strings `s`"
An empty, newly-created FastSet claims to contain all single-character strings.

### Repro:
[code]

And run the following test code:
[code]

[2014-10-28 18:27] ghost opened #99 "Documentation not visible due to fonts"
This issue is not related to code, but the documentation on www.collectionsjs.com is not visible due to the styles.css file.

[2014-10-28 18:37] #99 closed, assigned to nobody

[2014-11-16 16:44] mattdesl opened #100 "Splitting into smaller modules?"
This project is really awesome, and the v2 branch is looking good with less intrusive monkey patching. :+1:

Maybe once things get a bit more stable, it would be worth pulling some of the utilities into their own modules. The main benefit is version management. So you can bump major/minor/patch versions of, say, "fast-map" independently of all the other collections. The `collections` can remain ba

[2014-11-20 17:04] #100 closed, assigned to nobody

[2014-11-21 16:02] zobalogh opened #101 "Map collection.add(value, key) has illogical parameter ordering"
Your current Map implementation has an add function that has the illogical (value, key) parameter ordering. I believe the ordering is wrong.

Unfortunately the API has been released as is so a change to the API without regression is not possible.

Your documentation (http://www.collectionsjs.com/method/add-value-key) mentions the "gotcha" ("that does not have an obvious reason to exist") but that

[2014-11-24 04:57] #101 closed, assigned to nobody

[2015-01-22 10:21] pocketmax opened #103 "override data source"
Instead of using a native object to store items, you could point the collection to an alternative data source instead. Like a memory store like this one...

http://jxcore.com/docs/jxcore-store.html

[code]
This way, all the values are stored in the jxcore.store but accessed via the list collection. Almost like an adapter/wrapper pattern.

[2015-01-22 19:43] fredkilbourn opened #104 "SortedArray.prototype.swap dispatches "after" changes out of order, reports duplicate "plus" elements, and invalid "index""
The changes to the model are correct, it is just the dispatching that is not reporting those changes correctly.

Using this test code based on the api doc example:
[code]

Is currently outputting:
[code]
Note that 5 is reported to be added twice, and at the wrong index the second time and that 2,3 were removed from the model one dispatch before they were reported to be removed.

I applied this pat

[2015-01-23 00:01] marchant commented on #104
Thanks Fred, could you do a pull request? I'm not sure it makes sense to move the "this.addEach(plus)" down to after the this.dispatchesRangeChanges(), because when observers get it, the collection wouldn't have changed yet

[2015-01-23 00:08] fredkilbourn commented on #104
I didn't dig into it to actually see the code, but this.addEach(plus) seems to fire this.dispatchesRangeChanges() internally for each element it adds.

I don't actually know how to submit a pull request :confused: if you could handle integrating it that'd be great, if not let me know and I'll try to sort it out.

[2015-01-26 21:30] marchant commented on #104
You should learn how to do a PR, very handy, but I'm taking care of it

[2015-02-03 22:36] fredkilbourn commented on #104
Figured it out, submitted https://github.com/montagejs/collections/pull/106 which also addresses one additional issue with the length not being maintained for the collection.

[2015-02-11 13:15] fredkilbourn commented on #104
Pull request was merged, closed.

[2015-02-11 13:15] #104 closed

[2015-02-16 04:09] #98 closed

[2015-02-17 04:10] #78 closed

[2015-02-17 04:11] kriskowal commented on #94
See #95

[2015-02-17 04:11] #94 closed

[2015-02-21 04:51] kriskowal commented on #103
Collections provides quite lot of generics that would enable one to create a proxy for a jxcore-store, but providing such an adapter is outside the scope of the collections project, and well within the scope of a small package that depends upon and combines both.

[2015-02-21 04:51] #103 closed

[2015-02-28 03:08] rayshan opened #114 "Typo - listeners.lenth in property-changes.js"
https://github.com/montagejs/collections/blob/master/listen/property-changes.js#L170

also whitespace issues in this file

[2015-03-01 05:39] #114 closed

[2015-03-02 18:14] Dashed commented on #95
+1. The shims are off putting which made me reconsider using this library.

[2015-03-08 09:45] rauschma opened #117 "Support the ES6 iteration protocol"
Among other changes: If it is there, you should use `Symbol.iterator` as a property key.

Long-term, it may also make sense to rename `Iterator`, in order to avoid confusion with the built-in API.

[2015-04-06 15:15] michaelficarra opened #118 "MultiMap is untested and doesn't seem to work"
[code]

[2015-04-12 20:49] indolering opened #120 "Compare Example"
It would be nice if you could include an example of supplying a compare function.

[2015-04-14 04:20] fredkilbourn opened #121 "Dispatches to change listeners are suppressed while another dispatcher is active"
This is perhaps safe for the average developer, but was not documented and took me a while to figure out why i could not trigger another change event inside of an event handler for a change on the same collection.  There are certainly use cases for this, and I'm submitting a pull request that adds a flag to override this behavior.

[2015-04-14 05:31] Stuk commented on #121
Would you mind describing the use case you have?

[2015-04-14 13:40] fredkilbourn commented on #121
I have, for instance, some centralized code that is responsible for tracking and responding to state changes in various other components of my software.  The centralized code tracks these various state changes in a collections.js Dictionary and I set up a map change listener on this Dictionary.

The code then, in some cases, responds to the change of a particular key by triggering some other kind

[2015-04-14 15:51] Stuk commented on #121
Thanks for explaining! We definitely need to explain this in the documentation.

I'll defer any decision on a the PR to @kriskowal

[2015-04-14 16:10] marchant commented on #121
Fred, looks like this patterns would be more interesting/relevant/frequent with something like a Dictionary compared to an array or a set, what do you think?

[2015-04-15 04:05] fredkilbourn commented on #121
@marchant, I personally don't feel it's the responsibility of the library to predict the patterns that users of that library should be using.  There well could be other cases that I haven't thought of or run across personally.  If you look at custom events with the jQuery library for instance, there is no safety check for infinite loops.

If you want my honest opinion, I don't think it has a place

[2015-04-22 05:58] lygstate opened #123 "How to access the i-th element of SortedSet"

[2015-04-22 20:25] Stuk commented on #123
This does seem to be an oversight, @kriskowal?

As a workaround you could so `sortedSet.slice(i, i+1);`

[2015-04-22 21:14] kriskowal commented on #123
Very much an oversight. We should implement `get(index)`. Pull request welcome. The logic for traversing to the node at a given index already exists, using the subtree length to find the node at that position by walking to the node with a left subtree of the same length as your index.

[2015-04-23 11:25] lygstate commented on #123
@kriskowal  So does SortedArray?
Does SortedArrray backed with SplayTree for o(logn) access time?

[2015-04-23 13:57] kriskowal commented on #123
SortedArray is backed by an Array and uses binary search for O(log n)
search, but O(n) insert and remove, which is much faster and produces less
garbage collector churn than SortedSet’s splay tree for reasonable sizes of
n.

On Thu, Apr 23, 2015 at 4:25 AM, Yonggang Luo <notifications@github.com>
wrote:

[2015-05-18 09:01] ttony opened #125 "Typescript definition support"
Hi there,

wanted to check with you if you have plan to support typescript definition files?

-Y

[2015-05-18 16:00] Stuk commented on #125
Afraid this isn't on the radar, no.

[2015-05-18 17:15] kriskowal commented on #125
I would not be against having them if someone wishes to add and support them. That of course includes ensuring that the implementation tracks the interface with automated tests.

[2015-05-29 00:14] fredkilbourn commented on #121
@stuk, @marchant, @kriskowal: any feedback on this?  it would be nice to know if this patch will be expanded upon and implemented or if i should consider it an internal patch that i maintain on my own

[2015-07-01 06:23] dantman commented on #95
+1 the `clone` shim breaks Sequelize and I'm going to have to find a way to work around it.

[2015-07-01 06:24] kriskowal commented on #95
@dantman, try collections@2.

[2015-07-01 06:35] dantman commented on #95
@kriskowal Nope, it appears that `array.clone` still exists in `2.0.1` and Sequelize still dies in the same way.

[2015-07-01 06:37] kriskowal commented on #95
Ah, I see. There are unreleased changes in the v2 branch. Thanks.

[2015-07-01 17:53] kriskowal commented on #95
Try now. 2.0.2 does not have shims. Let me know how it goes; this is a pretty big change, and change observers are factored into another package.

[2015-07-01 23:04] dantman commented on #95
It looks like it works.

[2015-08-06 16:29] kengz opened #130 "Tree implementations?"
Equally important are trees: binary, red-black, 2-3, 3-5, n-m, etc.
Do you guys plan on implementing those?

[2015-08-06 16:48] marchant commented on #130
No immediate plan, no, do you feel like contributing some?

[2015-08-06 16:51] kengz commented on #130
I googled and search on NPM, found nothing satisfactory.
Yup I might, just a little occupied these days.

Do you have a `CONTRIBUTING.md`? I don't want to break the harmony in your base code when I do so.

[2015-08-06 16:53] marchant commented on #130
Appreciate it and good point, we need to add one!

[2015-08-06 16:54] kriskowal commented on #130
@kengz The SortedSet is implemented as a splay tree. We also have a Heap. I am sure we would be grateful for assistance developing, supporting, and comparing the performance characteristics of various tree implementations for various loads. The test suite is designed to be applicable to various collections and each new collection must implement all of the applicable methods documented at http://ww

[2015-08-06 17:04] kengz commented on #130
@kriskowal Good note on that. Also I'm seeing some generic-<structure>, I suppose they serve as the ancestors of the more specific classes? For a start:
- generic-node
- generic-tree (as the base class)
- binary tree
- N-tree (can have less than N children for generality)

Then after some feedback and redesign we can look at other trees.

[2015-08-26 20:59] pombredanne opened #131 "License notice missing for BSD/Motorola code"
Hi!
The following files:
[code]
do contain this notice:
``
   Based in part on extras from Motorola Mobility’s Montage
    Copyright (c) 2012, Motorola Mobility LLC. All Rights Reserved.
    3-Clause BSD License
    https://github.com/motorola-mobility/montage/blob/master/LICENSE.md
[code]

[2015-10-30 21:22] AlicanC opened #132 "2.0.2 breaks dependent libraries"
[gtor](https://github.com/kriskowal/gtor/) depends on `^2.0.1` which currently resolves to `2.0.2` on npm. Sadly, all "shim*.js" files were removed in 2.0.2 and that breaks gtor (and probably other libraries).

You can see both packages for comparison:
https://registry.npmjs.org/collections/-/collections-2.0.1.tgz
https://registry.npmjs.org/collections/-/collections-2.0.2.tgz

[2015-10-30 21:23] kriskowal commented on #132
I’m going to call this a gtor bug.

[2015-10-30 21:28] AlicanC commented on #132
Should I open an issue there?

[2015-10-30 21:52] kriskowal commented on #132
or a PR

On Fri, Oct 30, 2015 at 2:28 PM, Alican Çubukçuoğlu <
notifications@github.com> wrote:

[2015-11-11 18:03] sunrize531 opened #133 "List.sort ignores supplied comparator."
https://github.com/montagejs/collections/blob/master/list.js#L372

Also it probably can be MUCH faster, using node swaps, especially for large collections, since currently it converting data to array and back.

[2015-11-11 18:27] kriskowal commented on #133
Indeed. Since List is far from being an ideal structure for sorting, the current implementation provided is merely provided for completeness. PRs welcome for a less wasteful list sort.

[2015-11-12 13:03] sunrize531 commented on #133
Well, for 'competeness' it has to pass its arguments to sorted.

Then, it would be nice to implement something like this:
http://www.chiark.greenend.org.uk/~sgtatham/algorithms/listsort.html

I'll see what i can do here in next couple of days.

[2015-11-12 14:02] sunrize531 commented on #133
Well, for full completeness it *should* pass comparator to sorted.
http://www.chiark.greenend.org.uk/~sgtatham/algorithms/listsort.html

[2015-11-22 21:29] Zensey opened #135 "Can iterator() be used qw Map ?"
[code]

TypeError: Cannot read property 'apply' of undefined
    at Map.GenericCollection.iterator (node_modules/collections/generic-collection.js:269:24)

[2015-12-11 05:30] chroem- opened #136 "Set.toArray() should return an array of values, not an array of linked list wrappers"
Set.toArray() currently returns Set's internal representation of the data, rather than the actual values themselves.  It's not clear if this is intended or not, but it is currently undocumented and led to quite a bit of programming grief.

I believe that this is a bug considering how starkly different this is from Map's Map.values() function, which is said in the documentation to be equivalent to

[2015-12-12 02:33] Stuk commented on #136
Unless this was broken in a recent update to collections then it should work as you expect. Typing `nameSet.toArray()` into the console on http://www.collectionsjs.com/set correctly returns an array of the values.

[2016-01-05 02:27] kylehg opened #139 "Array#find is implemented wrong"
Your implementation of `Array.prototype.find()` is wrong — it returns the index of the matching element, not the element itself. See the MDN article on [`.find()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find) — you've implemented `.findIndex`.

Relatedly, it's very upsetting that this library doesn't bother to check `Array.prototype` for a native ver

[2016-01-05 03:17] kriskowal commented on #139
These issues are addressed in version 2 and can be installed via npm
install collections@2. The v1 api is published as latest to avoid breaking
legacy apps.

On Mon, Jan 4, 2016 at 6:27 PM Kyle Hardgrave <notifications@github.com>
wrote:

[2016-01-07 08:51] morlay commented on #139
But, why add the wrong `find` back in collections@3?
https://github.com/montagejs/collections/blob/v3.0.0/shim-array.js#L135

[2016-02-09 16:52] TWiStErRob opened #142 "What happened to browser compatibility?"
Is the whole library available as a single .js file to be consumed in browser? (Browserify is not an option, I'm looking for something that doesn't require installing another N tools and increase the build times)

What's going on with `collections*.js` in the root of the repo?
They weren't changed for 3 years, so I guess they should be deleted or the build updated so it updates those at releases.

[2016-02-16 15:21] Maher4Ever commented on #117
Adding this to a specialized `Set` I have was as easy as (other code omitted for brevity):

[code]

It would be awesome to have this natively implemented in all collections though.

[2016-02-26 21:46] icfantv commented on #139
@kriskowal, do you have an answer to @morlay's question?  Thanks.

[2016-02-26 22:04] kriskowal commented on #139
Collections are managed by Montage Studio. They needed to cut a major version that fixed other things, but retained this old behavior for compatibility with deployed versions in production. So version 2 is still ahead of version 3 in this regard. Montage was not able to use version 2 because I made radical changes to the observer subsystem, factoring it into a library and changing the interface. M

[2016-02-26 22:05] kriskowal commented on #139
However, Version 4 could cherry-pick the fixes in version 2 for this feature with minimal impact to Montage applications and without breaking FRB.

[2016-02-26 22:21] icfantv commented on #139
ok, thanks. v2 it is.

[2016-02-26 22:23] kriskowal commented on #139
For issues and pulls against v2, I maintain v2 as the master branch on my fork https://github.com/kriskowal/collections. Thanks.

[2016-03-15 06:39] deegles opened #144 "Should .one() return a random element?"
When using .one() on a Set, it returns the first value (peek). The documentation says it should be an "arbitrary" value. Could I submit a PR to make List.prototype.one scan for a random element instead of using peek()?

Would a different approach be preferred?

[2016-03-15 16:32] kriskowal commented on #144
My wife had a brilliant professor who once told us that our seating arrangements were “arbitrary but not random”. I’m still pondering what the distinction was. In this case, I’ve chosen “arbitrary” to mean that the criteria for selecting a value are intrinsic to the collection type, not normative to the method type, and deterministic (over the history of mutations to the collection), and O(1) in a

[2016-03-15 17:20] deegles commented on #144
Thanks for the context. Do you think there would be demand for a random element method?

[2016-03-15 17:33] kriskowal commented on #144
Do you need one? Could such a method be implemented generically for any collection given the methods of any collection or would it need to be polymorphic? If you had random(), could you implement sample()? If you had sample(), could you implement random() generically?

[2016-03-15 20:05] deegles commented on #144
I would certainly use sample(). I'm not sure how complex it would be to implement generically.

[2016-03-15 20:21] kriskowal commented on #144
Could be implemented generically with reservoir sampling and an iterator.

[2016-03-20 00:05] deegles commented on #144
What is your preferred behavior for .sample(n) be if n > list.length? Should it just return the full list or error out?

I have an implementation ready for list, lfu-set, lru-set, set, heap and fast-set. I'll work on tests and maybe  benchmark as well.

[2016-03-21 16:23] xjamundx commented on #139
Is there any way we can add a deprecated warning or something on this. It caused a production bug for us as well.

[2016-03-21 17:02] kriskowal commented on #139
I think a deprecation warning would be reasonable, a log to console like “Warning: collections v1 monkey-patches the find method in a way inconsistent with the ECMAScript 6 specification.” What the warning suggests you do is the hard part. v2 is not eligible for folks using Montage. v3 does not solve this problem. v2 in fact, no longer monkey-patches Array at all, and instead favors polymorphic fu

[2016-04-01 18:55] srinivas-os opened #145 "Variation without the shims?"
Firstly, apologies in advance for my tone and naivete if any. English is not my first language, nor is Javascript :-).

I use this excellent library in conjunction with [LoopbackJS](https://github.com/strongloop/loopback). When I do JSON.stringify of a loopback model object, the array attributes are output in object form instead of array form (i.e. flower brackets {} in the JSON as opposed to squa

[2016-04-01 19:07] srinivas-os commented on #145
OK, I just saw #95. Can I use 2.0.2 version of this library to resolve my issue? Would I be missing out on major bug fixes and such? The collection I am most interested in is sorted set.

[2016-04-05 17:02] kriskowal commented on #145
@srinivas-os Yes, version 2 should suffice for SortedSet sans shims.

[2016-04-26 16:13] timruffles commented on #70
I think it'd be at least good to document this. It's definitely a "principle of least surprise" violation (e.g I was very confused by seeing `[].set()` in the source) considering the JS ecosystem aversion to extending core types.

[2016-05-14 09:44] akloeber opened #149 "SortedMap.iterator() raises TypeError as iterate() is missing"
The `iterator()` function seems to be broken in v3.0.0:

[code]

Result:
[code]

It looks like `iterate()` is missing completely:
[code]

[2016-05-16 10:00] akloeber opened #150 "SortedMap.forEach throws RangeError when > 10000 items in map"
When more than 10000 items are added to a `SortedMap` then traversal via `forEach()` throws the following error:
[code]

Code to reproduce:
[code]

**Environment:**
collectionsjs v3.0.0
node v4.2.2
Mac OS X 10.11.4

[2016-06-08 04:31] marchant commented on #149
fix committed to master

[2016-06-08 04:32] #149 closed

[2016-07-21 23:51] bugs181 opened #158 "Collections.js is not loading correctly"
This was a tricky bug to track down.

Taking the code directly from the examples gives me some very weird results. The issue (in this case) is because the library isn't overriding built-ins.

Let me elaborate.

    var Set = require("collections/set")

    var object = { x: "hello" }
    var set = new Set(["a", object])

    console.log( set.add("b") )
    // Expected: true
    // Result: Set { 'a

[2016-08-11 12:14] gandhirajan commented on #142
Any resolution on this? Is there any single library file available so that it can be included as is and used in browser? Please respond.

[2016-09-15 03:38] Piicksarn opened #159 "The library request in cdnjs"
Hi @marchant
There's a library request in [cdnjs](https://github.com/cdnjs/cdnjs), and we desire to contain **collections**.
However, i must to make a check for the files that we need to added.

The files i would like to added are:
- `All the .js files under project`**`main folder`**
- `All the .js files under`**`listen folder`**

Is that complete for the user?
##

Thanks for your great work :spar

[2016-09-18 06:11] PierreFrisch commented on #159
Hi!

Thanks for the request, that’s great, I’ll get back to you early next week.

Benoit

 <http://montagestudio.com/>
montagestudio.com <http://montagestudio.com/>
Benoit Marchant <mailto:benoit@montagestudio.com>
CEO & Founder
1290 Oakmead Parkway, Ste 111
Sunnyvale, CA 94085
(1) 408.621.4874 mobile <tel:+1-408-621-4874>
Profile <http://www.linkedin.com/in/benoitmarchant> |  @benoitmarchant <htt

[2016-09-20 05:54] fwang2002 opened #160 "Is there a typescript declaration file"
As Title

[2016-09-20 05:56] #160 closed

[2016-09-20 05:56] fwang2002 commented on #160
duplicated with #125

[2016-10-02 08:14] lmj0011 opened #161 "SortedArrayMap.filter() does not return an array of values"
http://www.collectionsjs.com/method/filter

this returns a Map and not an array
[code]

I have to do this in order to get the array
[code]

[2016-10-07 02:08] codebling opened #162 "Shims breaks crypto"
Simply including a collection breaks the crypto module.

The crypto.getHashes returns an empty array if called after a collection is loaded when it would usually return an array of supported hashes.

[code]

I see #116, #95 and #94 but it looks like no shim fixes ever made it into master.

Based on how long it took to track this down, I unfortunately have to opt not to use this **otherwise fantast

[2016-10-10 10:40] linvi opened #163 "Minify into 1 file"
Would it be possible to provide a minified version of each collection type. The idea is that we would not have any require but only 1 minified file contianing all the dependencies required by the collection object.

Thank you for your great work.

[2016-10-15 04:57] royaldark opened #164 "Stack overflow calling SortedSet.toArray()"
I have a SortedSet with 9904 entries (simple one-level maps). Calling .toArray() always throws a call stack exceeded error.

[code]

[2016-10-15 07:50] marchant commented on #164
In which JS environment, browser or node? A use case would be appreciated

[2016-10-15 13:45] kriskowal commented on #164
Seems the recursive solution has outlived it usefulness. Any interest in
writing a depth first traversing alternative?
On Sat, Oct 15, 2016 at 12:50 AM Benoit Marchant <notifications@github.com>
wrote:

[2016-10-17 19:54] Bazze commented on #162
I can also say that including a collection also breaks some functionality in the [balderdashy/sails](https://github.com/balderdashy/sails) framework which relies on the `req.params.all()` function. It took me **hours** to debug this, it seems crazy to alter the global Array prototype like this.

Reverting to collections@2.0.2 seems to do the trick, let's hope that the library I rely on that uses c

[2016-10-17 20:20] Bazze commented on #95
So what is this `2.0.2` version actually? It's available through npm but I can't find any tag or similar for it here. How old is that version? What's missing compared to latest version? Is `2.0.2` actually the only way to get the collections package without the shims at the moment? Using the latest version, `5.0.5`, breaks stuff in sails as mentioned in https://github.com/montagejs/collections/iss

[2016-10-17 20:29] marchant commented on #162
@codebling, do you have sense of how collections impacts crypto getHashes() ? I assume that is in node.js?

[2016-10-17 20:32] kriskowal commented on #95
Version 2 is an alternate reality for this library, where I got rid of shims and factored out and replaced the change observer mechanism. Version 3 forks directly off of Version 1 and is a much less invasive change, which was necessary to retain a semblance of compatibility with Montage in production. V2 come from my fork https://github.com/kriskowal/collections and I maintain it.

[2016-10-17 20:37] Bazze commented on #95
Thank you @kriskowal for the info!

[2016-10-17 20:37] kriskowal commented on #162
In v1 of collections, I mis-predicted the behavior of some methods that ES6 introduced. These shims were intended to be forward compatible, but the future did not turn out how I expected. Particularly, some methods return iterators instead of arrays. I don’t know what specifically broke, but I abandoned shimming in v2. v3 skips over the changes I made in v2 because Montage can’t needed to make a f

[2016-10-17 20:40] kriskowal commented on #95
@marchant please consider closing this issue (I am not a collaborator on this repository). v2 exists and does not have shims. I’ll continue to maintain backward compatible minor and patch releases of v2, but v3 and forward are designed for Montage and do not break compatibility with v1 as much.

[2016-10-17 21:03] codebling commented on #162
@marchant, yes, it is the way that the shims alter the global primitives (specifically the Array prototype, I believe. After many hours of debugging, having finally identified Collections.js as the source of my woes, there was no point spending any more time debugging to see exactly how it was broken, given that shims have been fixed in another branch).

@kriskowal I saw that you made some shim re

[2016-10-17 21:24] royaldark commented on #164
I experienced it in Node. Here is a simple reproduction:

[code]

[code]

[2016-10-19 16:13] marchant commented on #162
what we've done in v3+ are primarily performance optimization and to re-align shims of ES objects like Map and Set to latest standards, including changes impacting iterators. It's setup in a way that IE10 and IE11 use the shim rather than built-in objects, IE11 doesn't have iterators and they are impossible to shim and since it's a dying breed... that will do. We have production Apps using it from

[2016-10-21 08:27] codebling commented on #162
As far as I could tell, the shims were not selectively loaded, they were always loaded and always changing the global prototypes. I could go back and find out exactly what about the Array shim was misbehaving, such that it could be fixed, but it seems like modifying the built-in prototypes is a problematic approach. See also #145 and #139.

kriskowal seems to have eliminated the shims by factoring

[2016-10-28 13:52] erossignon opened #165 "collections breaks Array#find behavior"
Spotted here https://github.com/node-opcua/node-opcua/issues/248

Collections v5.0.5 seems to break and replace some Array methods, introducing breaking changes.

How to reproduce:

[code]

[2016-11-23 19:02] lmj0011 opened #166 "release notes"
Would be helpful to annotate fixes/changes for future releases

https://github.com/montagejs/collections/releases

So the more cautious of us can avoid being slapped in the face with something like this:
https://github.com/montagejs/collections/issues/165

[2016-12-12 02:03] st-clair-clarke opened #167 "Typescript definition file for collections.js"
Hi,
Is there a typescript definition file for collections.js?

I have been searching but cannot find one.

Cheers

[2016-12-17 20:39] codebling commented on #165
See also #162, #116, #95 and #94

[2016-12-21 10:15] madssj opened #168 "Documentation seems outdated"
Using `collections` - specifically `FastMap` I've run into multiple problems with the documentation, which has left me not trusting it.

I've submitted a PR for one such incorrectness (montagejs/collectionsjs.com/pull/45), which has been left without response or action.

Another observed incorrectness is, that `new FastMap([[1, 2], [3, 4]]).keys()` returns an iterator, even though the documentatio

[2016-12-26 17:21] akloeber opened #169 "collectionjs breaks Array.from with Iterables"
collectionjs breaks `Array.from` with Iterables. This can be reproduced with the following code:
[code]

Output:
[code]

__Environment:__
collections v5.0.6
node v4.4.7
Mac OS X 10.12.2

[2016-12-30 00:43] st-clair-clarke opened #170 "collections.d.ts file support"
Hi,
I am using typescript and came across your very good collections.js library. However, I cannot find collection.d.ts file or any typescript typings support. Do you know whare I could find such support?

Thanks and an awesome library.

[2017-01-01 00:02] simon-weber commented on #27
One problem I see is that callers of `search` that deal in equality (eg `searchFirst/Last`) make assumptions about the equality of elements around the result index. But, `search` only guarantees that the index is somewhere in streak of one or more incomparable values.

I think the fix is to adjust `searchFirst/Last` to scan both left and right from `search`'s index, then scan within that range for

[2017-01-29 03:54] JohnKimDev opened #172 "Getting an warning of using 'eval'"
I am getting an warning from the rollup code

[code]

[2017-02-06 02:43] Sunshine168 commented on #168
i cant agree more~  i have the same position in the keys() function , the document is outdating

[2017-02-06 03:08] kriskowal commented on #168
@marchant I recommend adding @madssj as a collaborator.

[2017-02-08 10:17] a-x- commented on #169
It implicitly breaks our code too (i had got 4 debug hours)  :(

[2017-02-14 14:56] odin3 commented on #170
@st-clair-clarke I use `typescript-collections` till collections.js has no support of TypeScript.

[2017-02-19 05:21] FrozenPrincess commented on #169
Yeah, I lost the better part of a day to this too. It broke some code completely unrelated to anything near the collections stuff, and ended up being a real bitch to track down.

Blindly overwriting Array.from seems like a bad idea, but to do it with a non-conformant implementation really blows my mind.

[2017-02-19 07:25] marchant commented on #169
This Array.from may have been written before the current one even existed or was final. Iterators changed in the past 5 years. So if you're happy with the rest of this library, give the author(s) some credits there. Thanks @a-x- for the PR, it's a step in the right direction to use the native implementation when available, but the shim has to be re-aligned and do what native Array.from does, contr

[2017-02-19 21:48] kriskowal commented on #169
This issue is addressed with Collections version 2. However, this is not backward-compatible with the MontageJS install base, so it is not default. `npm install collections@2` to use a modern version that does no monkey patching (unless you make an array instance mutations observable).

[2017-02-25 14:59] st-clair-clarke opened #174 "Request| Adding an index.js file to collections"
Hi,
I previously asked about the possibility of adding typescrpt definition file to collections. The reply was that it was not currently on the agenda.

Typescript 2.1 now allows the importation modules without definition files if the module has an index.js file (see [https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html](https://www.typescriptlang.org/docs/handbook/releas

[2017-02-25 17:47] marchant commented on #174
Read through, but it's unclear to me what's supposed to be in index.js

[2017-02-25 23:53] st-clair-clarke commented on #174
Thanks for the quick response. Basically, the functions and classes that are exposed are placed in the index.js file. Please take a look at the node_module installation of [https://www.npmjs.com/package/array-unique](array-uniq). I am using angular-cli.

Thanks again.

[2017-03-17 19:31] hendrul commented on #158
@bugs181 it seems the documentation is not correct, looking at the code I see this module adds attribute CollectionsSet to built-in Set, so it should be...:
[code]

[2017-03-17 20:10] kriskowal commented on #158
Does anyone have an opinion of whether the documented behavior or the implemented behavior is better? Anyone else the time to make it so?

[2017-03-22 19:08] hendrul commented on #161
Docs are inconsistent with actual behavior. It must be decided if this methods (filter, map, and so) return a Set (what I expected) or an array.
In the docs for [Set.filter](http://www.collectionsjs.com/method/filter):

[code]

[2017-03-26 10:55] valerydev opened #175 "iterate not working with for..of"
I don't get what iterator protocol version 1 means but I think it should work with for..of

[2017-03-26 15:57] kriskowal commented on #175
We are in agreement that Collections should be iterable with for..of.

Iterators as implemented in Collections anticipated but predated the final specification of for..of.

We would need to revisit iterators to make this work, and that may or may not require breaking changes and a major version bump.

Volunteer assistance is very much welcome.

[2017-03-28 15:04] cdmcmahon opened #176 "collections.getDefault() (and .get() with a default arg) seems completely broken on Map"
[Copy and paste the following into RunKit](https://runkit.com/npm/collections) and I would expect the second and third console.log statements to print 'def', but they print undefined. Perhaps I'm missing something? [The documentation](http://www.collectionsjs.com/map) seems pretty clear so I'm somewhat at a loss;

[code]

[2017-04-05 17:51] stevenvachon commented on #165
Seriously, this stupid module is breaking my code.

[2017-04-05 19:52] kriskowal commented on #165
For what it's worth, I'm sorry.

[2017-04-05 20:17] kriskowal commented on #165
It's worth noting that this issue is fixed in version 2, but walked backward in version 3 and I think 4. It might be good for the collections community for the version of this library with the "latest" tag in npm is one that fixes this problem and that legacy applications should pin to the legacy versions.

[2017-04-11 22:41] lmj0011 commented on #168
This seems to be a common issue

https://github.com/montagejs/collections/issues/161

[2017-04-24 19:14] theetrain opened #178 "Array.prototype.find() returns -1 instead of undefined"
The default behaviour of `Array.prototype.find` is to return the first matching value or `undefined` if not found. Collections.js returns `-1` instead of `undefined`, which causes an unexpected issue with truthiness and coercion:

Standard behaviour:
[code]

Collections.js behaviour:
[code]

I'm only curious why this decision was made.

[2017-04-24 20:00] kriskowal commented on #178
I wrote Collections before the ink dried on the spec. Versions 1 and 3+ seem to be stuck with my mistake. @asolove and I fixed it in version 2.

This comes up often enough that @Stuk and I are considering forking collections and making an `@collections/` org in npm rooted on version 2. That involves a lot of work and it is not on my evening and weekend roadmap. If there are people interested in si

[2017-04-24 20:07] kennethklee commented on #178
why not, not modify native Array.prototype. This destroys any optimisations JS can do. Rather, create a new class based off Array.

[2017-04-24 20:12] kriskowal commented on #178
@kennethklee as mentioned, Version 2 does not monkey-patch Array.prototype at all.

[2017-04-24 20:15] kriskowal commented on #178
Alright, this has become enough of a problem that we will need broader support for collections in general. Please drop a line in here if you’ve got cycles to help move collections for JavaScript into a community supported suite to get around Montage’s compatibility limitations. We can talk about breaking the collections package into an `@collections` organization and how we can build a group of ma

[2017-04-24 22:34] kriskowal opened #179 "Collections Community Call for Support"
The Collections library has a large backlog of issues pertaining to compatibility with the ES6 spec that emerged after this library was created. These issues cannot be addressed without breaking backward compatibility with Montage.

There is a path forward where we create a new Collections monorepo and publish `@collections` organization packages for each collection or another path forward where w

[2017-04-26 13:02] mhelvens opened #180 "Confusing "Choose a collection" choice: "ordered and iterable""
On [www.collectionsjs.com](http://www.collectionsjs.com) I was momentarily confused when confronted with the checkbox:

Because I wanted a set that was iterable (which is to say: not a `WeakSet`), but I did not need it to be ordered in any particular way. Upon investigation I found out that leaving the box unchecked recommends `FastSet`, which _*is*_ still iterable.

So shouldn't the checkbox just

[2017-05-05 00:07] hthetiot opened #181 "hthetiot to npm list"
@benoitmarchant Can you add me to the list to publish new version:

https://www.npmjs.com/package/collections/access

[2017-05-05 02:04] Jorenm opened #182 "shim-array find() doesn't use the same params as the canonical one."
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find?v=control

Also, shouldn't a shim check if it exists before it replaces it?

This took up maybe 5 hours of debugging till I dug into the right node_module to find its functionality broken because it expected the canonical .find functionality :(

[2017-05-05 19:53] hthetiot commented on #167
Duplicate #170

[2017-05-13 14:37] axelpale opened #183 "SortedSet error: "reverse is not a function""
I installed collections 5.0.6 via NPM today:

    $ npm install --save collections

Then I tried to get a sorted set with the largest value first (smallest first by default) by calling reversed():

    [ 2, 3, 5, 8, 11 ]

    TypeError: this.constructClone(...).reverse is not a function
        at SortedSet.GenericCollection.reversed (.../node_modules/collections/generic-collection.js:254:38)

[2017-06-17 20:17] #181 closed

[2017-06-22 23:03] uglow commented on #182
Here's the dependency tree that I had that ended up leading me here:
[code]
Even though this is an old version of collections, @Jorenm 's feedback is valid.

[2017-10-12 01:32] vith commented on #162
Just spent all day debugging some insanity caused by these shims.

Here's a minimized test case: https://github.com/vith/collections-shim-chaos

If I remove the `collections` import from my tests everything works as expected. With the shims, one version of the test stalls forever; another one breaks when the test library attempts to pretty-print the error message.

Also when I try to debug the bre

[2017-10-12 08:47] vith commented on #162
Now that I removed the shims from a codebase, `flow-runtime` assertions that used to spuriously succeed suddenly started working correctly too.

[2017-10-12 21:01] kriskowal commented on #162
Totally reasonable to expect a prominent warning in the Readme, suggesting
that you use collections@^2 to get the version that does not have shims.
@stuk and I are working to release `@collections` namespaced packages out
of a monorepo and update collectionsjs.com to advise using those to resolve
this problem.
On Thu, Oct 12, 2017 at 4:47 AM Jason Papakostas <notifications@github.com>
wrote:

[2017-10-22 05:27] jh3141 commented on #182
+1.  Changing existing standardised behavior of core objects is a very bad idea, particularly if the change is documented as *not* happening.  The [documentation](http://www.collectionsjs.com/method/find-value) states:

As I have the most current version available in NPM (5.0.7, according to my package.json file), I would have assumed that I'd get the version 2 behaviour, but apparently it has bee

[2017-10-25 13:00] mattandrews commented on #182
I too have just had several issues due to this library's poorly-named functions – with great power comes great responsibility(!).

[2017-10-25 17:03] yang opened #185 "Array.find seems to be broken again"
Tested 5.0.7.

[2017-10-26 01:44] dgjung0220 commented on #135
I also have same problem.

[2017-11-04 10:17] croraf opened #186 "Improve documentation for equals and compare"
I'm checking a number of classes and cannot find their usage examples.

For example what I need is http://www.collectionsjs.com/sorted-map.
I need to make custom compare and equals.

I assume I should pass equals and compare functions in the factory function `SortedMap(entries, equals, compare)`.

What is the format of these functions, any examples of how should I use them?

[2017-12-06 19:51] hthetiot commented on #185
Looking into it.

[2017-12-06 20:51] hthetiot commented on #185
@yang Can you try npm install collections@2.0.3 and tell me if that fix your issue.
I'm going to merge v2 branch in master and release v6 soon.

[2017-12-06 20:52] hthetiot commented on #182
@mattandrews  Can you try npm install collections@2.0.3 and tell me if that fix your issue.
I'm going to merge v2 branch in master and release v6 soon.

V3 to v5 was released with legacy shim and find override instead of findValue.

[2017-12-07 06:50] hthetiot commented on #185
PR fix https://github.com/montagejs/collections/pull/188

[2017-12-07 06:50] hthetiot commented on #182
Duplicate #185

[2017-12-07 06:51] #182 closed

[2017-12-07 06:52] hthetiot commented on #178
#185

[2017-12-07 06:52] #178 closed

[2017-12-07 06:52] hthetiot commented on #165
Duplicate #185

[2017-12-07 06:53] #165 closed

[2017-12-07 06:54] hthetiot commented on #162
Duplicate #185

[2017-12-07 06:54] #162 closed

[2017-12-07 06:55] hthetiot commented on #145
Duplicate #185

[2017-12-07 06:55] #145 closed

[2017-12-07 06:56] hthetiot commented on #139
Duplicate #185

[2017-12-07 06:56] #139 closed

[2017-12-07 07:07] #167 closed

[2017-12-07 07:11] hthetiot commented on #125
Duplicate #170

[2017-12-07 07:11] #125 closed

[2017-12-07 07:13] hthetiot commented on #166
Yes 2.0.0 never got in change logs I will try to update it.

[2017-12-07 09:22] mattandrews commented on #182
Hi, thanks for the update. Unfortunately my issue was with a library several steps upstream from collections, so even if the issue is fixed here I need to get two further projects to update their dependencies (eg. see the explanation [here](https://github.com/SLaks/Styliner/pull/24)).

Since commenting here I migrated my code away from the original tools I was trying to use as the effect this was

[2017-12-07 17:10] hthetiot commented on #185
@yang

Fixed in collections 5.1.0
- https://github.com/montagejs/collections/tree/v5.1.0
- https://www.npmjs.com/package/collections

For legacy issue notification of release:
cc @Jorenm @codebling @kylehg @xjamundx @kylehg

[2017-12-07 17:10] #185 closed

[2017-12-07 18:03] hthetiot commented on #135
I have seen that somehow in v2 branch.

[2017-12-07 18:04] #132 closed

[2017-12-12 01:38] codebling commented on #185
Will check that out, thanks for the cc!

[2017-12-28 11:18] hthetiot commented on #133
see #191

[2017-12-28 11:56] #27 closed

[2017-12-28 11:57] hthetiot commented on #63
https://github.com/montagejs/collections/pull/171

[2017-12-28 11:57] #63 closed

[2018-01-23 20:04] adyshimony opened #192 "MultiMap creation throws UnhandledPromiseRejectionWarning"
var MultiMap = require("collections/multi-map");
let accountsMultiMap = new MultiMap()

inside async method throws:

**(node:26281) UnhandledPromiseRejectionWarning: TypeError: Constructor Map requires 'new'**
warning.js:18
    at MultiMap.Map (<anonymous>)
    at new MultiMap (/home/adys/Sources/supernode-indexer/node_modules/collections/multi-map.js:11:9)
    at router.get (/home/adys/Sources/su

[2018-01-28 14:25] limikael opened #193 "documentation typo related to change listeners"
In the doc it says:

Each of these changes can be communicated with a single message, (plus, minus, index): the values removed after that index, then the values that were added after that index, and the index, in that order.

The names of the parameters are plus and minus, so the first one is the added values, the second one is the removed values. I also double checked with a test, and the added v

[2018-01-29 07:54] Sha-Grisha opened #194 "Set to undefined"
I would like to set map (FastMap) element to undefined, but even I use `() => { return undefined;}` as `getDefault`, `.toObject()` and sometimes `.get` returns `null` as a value instead of undefined.

[2018-02-03 00:27] codebling commented on #162
@hthetiot still not fixed in 5.1.2. See also #185

[code]

[2018-02-03 00:31] codebling commented on #185
#162 is still broken

[2018-02-04 03:00] troring opened #195 "ShimArray get method bug, may be more in the source."
var players = new ShimArray(3);
    var v1 = players.get(1);
    var v2 = players.get(1,0);
    players.set(1,25);
    var v3 = players.get(5,0);
    // result: v1 = v2 = v3 = undefined

source code:
define("get", function (index, defaultValue) {
    if (+index !== index) {
        throw new Error("Indicies must be numbers");
    } else if (!index in this) {  <---should be !(index in this)

[2018-02-12 08:01] codebling commented on #162
@hthetiot should I open a new issue for this?

[2018-02-15 21:49] codebling opened #196 "collections break crypto"
Opening this since most of related issues #94 #95 #116 #139 #145 #162 #165 #178 #182 #185 have been closed and there needs to be some visibility on this.

The shims are still causing issues in collections. Try this simple test case.
[code]

[2018-02-16 18:09] hthetiot commented on #196
@codebling Thanks will look into #173 and #189 ASAP.

[2018-02-16 18:40] hthetiot commented on #196
Works for me @codebling have you installed collections@5.1.2 ?

package.json source:
[code]

array.js source:
[code]

Results:
[code]

Another tests

[code]
nvm use v4
Now using node v4.8.6 (npm v2.15.11)
node

undefined

46
[code]
nvm use v8
Now using node v8.9.0 (npm v5.5.1)
node

undefined

0
[code]

[2018-02-17 06:19] codebling commented on #196
Thanks for looking at this. Did not realise it was not broken on some node versions.

[2018-02-28 06:34] ioncreature opened #197 "Extension of native constructors with utility functions"
Hello!

I like the library. But.

But I do not  want this library to add anything to Object, Function or any other native entity.

This approach could conflict with developer if developer wants to extend base entities in own project
It could conflict with other libraries like SugarJS
It could conflict with future versions of JS

Please, use your own local functions and import it when it needed

[2018-03-08 14:11] Nipatsku opened #198 "SortedMap.reduceRight behaviour seems incorrect"
I have a SortedMap with number keys (0, 1, 2) and corresponding string values.
I'd expect 'reduceRight' to callback in the following key-order: (2, 1, 0) but instead I'm getting (2, 0, 1).
Seems like a problem that people would run into quite frequently.

This is the code I'm testing with
`
import { SortedMap } from 'collections/sorted-map'

const map: SortedMap<number, string> = new SortedMap()
m

[2018-03-08 14:12] Nipatsku commented on #198
My console log looks like this:

forEach
0: element_0
1: element_1
2: element_2

reduce
0: element_0
1: element_1
2: element_2

reduceRight
2: element_2
0: element_0
1: element_1

[2018-03-09 18:43] hthetiot commented on #197
@ioncreature Check v2 branch.
- https://github.com/montagejs/collections/tree/v2

We are aware of the issue with current version.
We don't have the bandwidth to fix v1 for now, any PR welcome.

[2018-03-14 04:20] samchon opened #199 "May I write an article comparing your library "collections"?"
Nice to meet you. I'm a developer of [**TSTL**](https://github.com/samchon/tstl), which is an migration project of C++ STL (Standard Template Library) to TypeScript. Traveling similar libraries like mine, I found this awesome repository.

TSTL provides 4 modules (containers, iterators, algorithms and functors) and in the container module, many features are seemed like similar with you. To announce

[2018-04-27 08:58] xduseko commented on #192
MultiMap is broken since January?

[2018-04-29 15:06] hhanh00 opened #200 "iterate(start, end) does not behave properly if start == 0"
[code]

shows -10

This is because of
[code]

[2018-04-29 15:11] hhanh00 opened #201 "iterate(start, end) returns entire set if the range is beyond the set"
[code]

should not print anything, instead prints out the entire set

[code]

[2018-05-29 09:51] allenmillen opened #202 "SortedMap min() and max() return the same result"
Whereas they should return keys/values from different ends

[2018-06-03 07:05] Deilan commented on #199
@samchon It's [licensed](https://github.com/montagejs/collections/blob/master/LICENSE.md) under 3-clause BSD license, so why not? :)

[2018-06-03 15:05] Deilan opened #203 "Couldn't override equals and hash"
A very simple test couldn't pass:
[code]
Output:
`false`

lib v. 5.1.2, Node.js 8.9.1, macOS 10.13.4.

[2018-06-06 14:00] israelroldan opened #204 "collectionsjs.com expired (clientHold status)"
Apparently, the domain expired yesterday and GANDI has set it to `clientHold`.

Gandi does not allow domains to be renewed by someone else, otherwise, I'd have gladly done so. Can someone look into this?

cc @marchant @kriskowal @hthetiot

[2018-06-06 14:03] #204 closed

[2018-06-06 14:03] israelroldan commented on #204
Moved to the right repo https://github.com/montagejs/collectionsjs.com/issues/48

[2018-06-06 15:59] Yaski opened #205 "Documentation isn't available"
collections.js website isn't working

I couldn't find a mirror for documentation

[2018-06-07 13:53] zatziky commented on #205
This documentation isn't working http://www.collectionsjs.com/

[2018-06-14 16:15] jalal commented on #205
It works for me.

[2018-06-15 08:07] zatziky commented on #205
It was down for 2 days. Now it's working again. 👍

[2018-07-11 02:39] #205 closed

[2018-07-11 02:40] hthetiot commented on #203
I dont think it is supported.

[2018-07-11 02:41] hthetiot commented on #202
@allenmillen Can you write a simple test here in the issue.

[2018-07-11 02:41] hthetiot commented on #193
Please make PR.

[2018-07-11 02:42] hthetiot commented on #200
Would you willing to make a PR for fix @hhanh00 ?

[2018-07-11 02:45] hthetiot commented on #199
@samchon Not problem collections is only maintained but not actively developed this days.

For a better reference implementation I would also pick at this:
- https://github.com/montagejs/collections/pull/189

[2018-07-11 02:45] #199 closed

[2018-07-11 02:46] hthetiot commented on #198
This is fixed by #206 and released today as part of v5.1.3
- https://github.com/montagejs/collections/blob/master/CHANGES.md#v513

If you still have the issue please re-open @Nipatsku

[2018-07-11 02:46] #198 closed

[2018-07-11 02:47] hthetiot commented on #194
No sure I understand, can you write a simple test.

[2018-07-11 02:47] hthetiot commented on #163
npm run build aka collections.min.js

[2018-07-11 02:47] #163 closed

[2018-07-11 16:53] #133 closed

[2018-07-11 17:17] hthetiot commented on #192
fix here https://github.com/montagejs/collections/commit/ecfa4b50be4d11b76622b5924f9b56684460688f

[2018-07-11 17:22] hthetiot commented on #192
Fixed in v5.1.4

[2018-07-11 17:22] #192 closed

[2018-07-11 17:23] hthetiot commented on #166
https://github.com/montagejs/collections/blob/master/CHANGES.md

[2018-07-11 17:23] #166 closed

[2018-07-11 17:35] hthetiot commented on #142
Look at collections.min.js or use mr to load npm package on browser.

[2018-07-11 17:35] #142 closed

[2018-07-11 17:36] hthetiot commented on #118
Fixed multi map error on master will add more spec

[2018-07-11 22:07] TWiStErRob commented on #142
Thanks, been a while, don't even remember which project I wanted this on.
Since then I learned npm, webpack and others, JS ecosystem is nice.

[2018-07-13 03:55] richardaum opened #207 "Does Map preserves insertion order of its entries?"
Does [Map](http://www.collectionsjs.com/map) preserves the insertion order of its _key-values_ entries?

[2018-07-18 03:10] limikael commented on #193
Oh... It was a long time ago since I interacted with this project, and it was only for a very brief amount of time... Can you please point me in the direction of where the documentation is again, and I'll be happy to make the update... Sorry about that... If it is not worth the effort for you, just close the issue...

[2018-07-20 03:05] hthetiot commented on #207
It's not guaranty you need to use Set or Array in think

https://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order

[2018-07-20 03:05] #207 closed

[2018-07-20 03:07] #159 closed

[2018-08-19 21:15] jeffsaremi opened #208 "Do your maps support lower_bound or upper_bound methods?"
Here are the c++ definitions:

http://www.cplusplus.com/reference/map/map/upper_bound/
http://www.cplusplus.com/reference/map/map/lower_bound/

[2018-09-25 11:54] Nikolsi opened #210 "Set.reduceRight seems to be incorrect."
Set.reduceRight did not callback at all. It was caused by not using the reverseOrder array and incorrect index counting.

I have created a pull request #209 with fix for it

[2018-10-18 07:55] Torniojaws commented on #169
The same for ``Array.prototype.find()``.

Before:
[code]
After:
[code]

[2018-10-30 21:19] danbopes opened #211 "Allow deque to have a max length"
Following along with python's deque [here](https://docs.python.org/2/library/collections.html), I think it would be incredibly useful if you provided a max length parameter, to prevent a collection going over a certain size.

From python's docs:

[2018-11-06 17:38] Nikolsi commented on #210
Does anybody here? :D

[2018-11-06 17:45] marchant commented on #210
Thanks @Nikolsi for the nudge and providing the patch, just merged, sorry for the delay!

[2018-11-06 17:45] #210 closed

[2018-11-06 17:47] Nikolsi commented on #210
@marchant Thank you for accepting the merge request 👍

[2018-11-08 13:07] AIRTucha commented on #95
I am sorry to trouble you, but I can not find the v2 at all. Is it removed?

[2018-11-09 17:49] MiloBem opened #213 "SortedArray is not stable"
Stable SortedArray should always add a new element at the end of the subsequence of elements for which compare to returns 0. It doesn't:
[code]
result:
`	[{"k":5,"v":"c"},{"k":5,"v":"e"},{"k":5,"v":"a"}]
`

[2018-11-17 00:48] biancode opened #215 "collections/map breaks node-red"
Hi,

I'm sorry, I've been looking for a problem in my lib and found out that your lib is causing the problem.

https://github.com/biancode/node-red-contrib-iiot-opcua/issues/71

require('collections/map') breaks node-red context.global object

[2019-01-16 14:57] mikg2003 opened #217 "Sorted Collection by non-key/object property & Get by key"
When looking through the collections, both the documentation and the source, I couldn't find one that would let me maintain a sorted collection of objects based off of a property of the object, but also retrieve an object by it's key.  For instance, let's say we want to keep a list of People sorted by they age.  I should be able to have the backing store keep a list of People in ascending age orde

[2019-01-20 05:13] nickyang07 commented on #183
I also have this issue. Can this be fixed?

[2019-02-11 11:13] TotallyInformation commented on #215
It looks like `Array.prototype.find` has been altered? This is breaking other code as referenced above.

[2019-02-17 01:33] sergey-shevchuk commented on #169
`Array.from` takes only first parameter into account
Expected syntax: `Array.from(arrayLike[, mapFn[, thisArg]])`

[code]
Output:

[code]

[2019-02-19 00:08] kriskowal commented on #169
In my opinion, a major version needs to be released that removes these shims. The simplest solution would be to republish version 2 as a new major that jumps ahead of the latest major versions that are designed to retain backward compatibility with MontageJS.

However, I am no longer vested in this effort. The best people to make this call are @marchant and @hthetiot, who have most recently contri

[2019-03-26 19:59] erothmayer opened #220 "collections breaks Objection"
Installing collections@latest (currently 5.1.8) alongside Objection (a DB ORM) causes unexpected failures. It looks like it's probably due to a regression in the Array.find behavior (https://github.com/montagejs/collections/issues/165) which has been reported several times, as it works correctly if I install collections@2.0.3

[2019-03-26 20:00] erothmayer commented on #185
This appears to still be a problem (or another breaking change to the base language collections is similarly broken). In 5.1.8 3rd party libraries still have unexpected failures, while going back to 2.0.3 fixes them.

[2019-03-26 20:00] erothmayer commented on #220
Also https://github.com/montagejs/collections/issues/185

[2019-04-15 07:11] rachel-chocron commented on #196
Any progress with this?
I am experiencing this issue when using http://www.collectionsjs.com/sorted-set with winston file transport. It prevents me from creating a file transport.

[2019-04-15 16:56] codebling commented on #196
@rachel-chocron Based on comments in all of the issues listed at the top, the root cause of all of the issues is the direct modification of the global array type by Collections. If I recall correctly, this was fixed in the `v2` branch, which at the moment is not merged or supported by the montage team.

In this specific issue, hthetiot showed that it does actually work in some legacy versions of n

[2019-04-15 17:05] codebling commented on #220
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212

[2019-04-15 17:05] codebling commented on #215
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212

[2019-04-15 17:08] codebling commented on #185
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. As mentioned, branch `v2` avoids global object modification and so works.

[2019-04-15 17:10] codebling commented on #197
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. As mentioned, branch `v2` fixes these issues by avoiding global object modification.

[2019-04-15 17:11] codebling commented on #182
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch `v2` fixes these issues by avoiding global object modification.

[2019-04-15 17:11] codebling commented on #178
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch `v2` fixes these issues by avoiding global object modification.

[2019-04-15 17:13] codebling commented on #169
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. As mentioned, branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-04-15 17:16] codebling commented on #165
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-04-15 17:16] codebling commented on #162
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-04-15 17:17] codebling commented on #145
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-04-15 17:18] codebling commented on #139
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-04-15 17:18] codebling commented on #95
See also issues #36 #70 #94 #95 #116 #139 #145 #162 #165 #169 #178 #182 #185 #197 #215 #220 and PRs #94 #95 #116 #173 #189 #212. Branch [`v2`](https://github.com/montagejs/collections/tree/v2) fixes these issues by avoiding global object modification.

[2019-05-12 06:18] garethjensen opened #221 "Multi-map example appears to not work"
Hi there,

I'm trying to use your multi-map implementation, and it keeps throwing "TypeError: #<Object> is not iterable" for every value parameter I use besides an array. I tried using your demo of multi-map, and it threw the same error for multi-map.js:12. Thoughts?

Thanks.

[2019-05-15 23:38] asiraky commented on #203
But it's documented:

"The optional equals and hash override the contentEquals and contentHash properties that operate on the keys of the map to determine whether keys are equivalent and where to store them."

http://www.collectionsjs.com/map

[2019-05-26 08:57] gary-harpaz commented on #169
Another victim here. v2 branch solved the issue but I really think a warning should be added to:
https://www.npmjs.com/package/collections
Like in giant red

[2019-05-26 15:26] codebling commented on #221
Try branch `v2`. This is likely due to #169.

[2019-05-28 13:56] vladimirice commented on #220
Same issue for me
https://github.com/Vincit/objection.js/issues/1350

[2019-06-01 09:35] ssantanuberaa commented on #220
Also check the section 14.6, there is a prototype based fast-map in the index.js file. I guess it is supposed to mark the map in the fast-map object.
And that's whey the previous issue on the fast-map object mapping was not working.
This can be fixed by calling the following method --
addFastMap(prototype.fastMap[index]);
Here index is the map index in the fast-map array.

[2019-06-16 21:14] wittlesouth opened #223 "SortedMap reversed() fails with exception"
The following code:

[code]

fails with "TypeError: this.constructClone(...).reverse is not a function", specifically on line 267 of generic-collection.js.GenericCollection.reversed. Per [the docs](http://www.collectionsjs.com/method/reversed), I was expecting it to return a copy with the items in reversed order of keys.

[2019-06-16 21:16] wittlesouth commented on #183
See also #223. I probably should have looked at this first. This has been open since 2017?

[2019-08-20 18:14] ericuldall opened #224 "Mocha tests failing @ _map return this.size"
It seems there has been some recent update that is breaking unit tests across many of our repos with the same error.

[code]

Any idea why we're seeing this and how we can fix it?

[2019-08-20 18:17] marchant commented on #224
That file was last changed on Jun 17, 2016, not sure why this would come up now, let us know what you find out.

[2019-08-20 18:19] ericuldall commented on #224
Okay, that is strange as we haven't made any changes to anything in our repos either.

[2019-08-20 18:38] ericuldall commented on #224
Okay, we found the issue is related to an update in @sinonjs/commons. Closing this and will open a ticket there.

[2019-08-21 16:43] ericuldall commented on #224
Here's the response from sinon, saying the problem may be how collections extends their object:
https://github.com/sinonjs/commons/issues/18

Any thoughts on this?

[2019-09-06 10:02] lazzrov opened #225 "Collections break pm2 metric collection"
When SortedMap is imported, pm2 is unable to collect the metrics such as Heap memory, Event Loop latency...

[2019-10-01 18:55] marchant opened #226 "PropertyChanges.prototype.getOwnPropertyChangeDescriptor shouldn't create internal structure"
This should be done when a listener is created as this is much more rare than property changes that call PropertyChanges.prototype.getOwnPropertyChangeDescriptor every time. This is especially worse for array's indexes treated as properties

[2019-10-01 18:58] marchant opened #227 "array-changes.js:117 _dispatchOwnPropertyChange"
For each iteration, this.dispatchOwnPropertyChange(i, this[i]); keeps calling's PropertyChanges.prototype.getOwnPropertyChangeDescriptor, which navigates internal structure every time. Adding some caching to avoid doing that would help speed things up quite a bit.

[2019-10-01 19:04] marchant opened #228 "Assess wether dispatchBeforeOwnPropertyChange and co have ever been used in any real project"
They are expensive and if not used for the past 9 years, they gotta go.

[2019-10-01 19:06] johnnykahalawai commented on #228
@marchant -

They are used in Contour.

[2019-10-01 19:06] marchant commented on #228
I which pattern?

[2019-10-01 19:10] johnnykahalawai commented on #228
@marchant ,

I see.  I don't see handleBefore* being used.

[2019-10-03 08:25] jamfly opened #229 "row.toArray is not a function while use where or orderBy function"
#### Environment details

  - OS: MacOS 10.14.6
  - Node.js version: v8.16.1
  - npm version: 6.4.1
  - `@google-cloud/firestore` version: 2.2.3
  -  collections@1.2.4

#### Steps to reproduce

  1.
[code]

  2. and import it in `index.ts` and in the index I also declare different cloud function

it will give me the error message
[code]

I guess it possibly is the conflict of package, so, here is

[2019-10-19 14:15] Aditya-Baranwal opened #232 "Missing Tree"
can I contribute by adding binary tree and segmented tree

[2019-10-24 12:10] misterjoa opened #233 "Deque is missing from collections.min.js"
Hello !

When I use
[code]
In a webpage, Deque is not a known symbol.
I've looked at
[code]
And it seems that the `require` is missing for deque.
Also missing in `collections.min.js`
Thanks !

[2020-01-30 15:39] viktorzavadil opened #234 "Collections interrupt MongoDB connection"
The shim-array script affects common Array object and it breaks MongoDB connection.

It's the same issue like https://github.com/montagejs/collections/issues/197 https://github.com/montagejs/collections/issues/169 https://github.com/montagejs/collections/issues/185 etc...

Why `upgrade/v2` branch is not merged into the master?

I am frustrated because I spent a lot of hours debugging this problem.

[2020-03-04 03:56] yedeyu opened #235 "Typo in the documentation for findGreatestLessThan()"
In [this page](https://www.collectionsjs.com/sorted-set) and [this page](https://www.collectionsjs.com/method/find-greatest-less-than):

`findLGreatestLessThan(value)` should be `findGreatestLessThan(value)`.

There is an extra `L` in `findLGreatestLessThan(value)`.

[2020-03-23 09:44] frenzymind opened #236 "List findValue is not a function"
Hello.
`"collections": "5.1.9"`
Try to use list:
[code]
But I see in console that th sis not a function.
`Caught exception: TypeError: dialList.findValue is not a function`

What can I do woth this ?

[2020-04-22 01:00] danielpaz6 opened #239 "A question of collections usage to solve Typescript issue related to tuple key in hashmap"
Hi,

So I have a pretty simple example to demonstrate my problem:

[code]
So in this example, I have a Map that uses tuple of Shapes as a key.
And it returns false since when using `[shape1, shape2]` twice, it creates two different arrays in terms of address so the `has` method probably makes a shallow comparison between them, and as a result, returns false.

I thought maybe I could override `has`

[2020-04-22 05:30] marchant commented on #239
Yes, dig for the details, but I’m pretty sure it checks if the object has a equals() method and allow what you describe, but the problem you’re going to have is that your tuple is just an array, and adding the equals method on each instance... right, not good. Best would be to have a type of yours instead of just a plain array, that way you have the right structure to consider them equal.

[2020-05-29 18:44] audetto opened #240 "How to use collections in Angular?"
Probably doing something wrong here

npm install collections
npm install @types/collections

then I tried to import in various ways

import * as collections from 'collections/sorted-set';
or
import * as collections from 'collections';

but the best I get is a runtime error

ReferenceError: global is not defined

at

generic-collection.js:8

How do I do it?

[2020-06-10 05:40] aditya1711 commented on #169
Array.length gets broken for some libraries in React Native, maybe React also, like Victory Native, React native SVG, etc.

I can reproduce the error if required.

[2020-06-10 05:46] codebling commented on #169
@aditya1711 have you read the conversation above? Proposed solution is to use v2 branch. Have you tried this?

[2020-06-10 05:58] aditya1711 commented on #169
Okay, I didn't know it didn't get merged with the master. It's working now. Thanks a lot for your help and a quick reply.

[2020-06-16 19:12] leandro-manifesto commented on #240
The latest `@types/collections` (5.0.2) is basically empty, so I needed to roll my own declaration files to be able to use the package in a TypeScript.

Would be nice if the package itself provided type declarations.

[2020-06-17 00:07] vanakema commented on #93
I'm not a fan of commenting on dead issues... but this is a serious problem. The implementation doesn't work as documented. If it's required for the `compare` callback to ALSO do all the checks that `equals` does, because of the way it was implemented, then it needs to be documented.

[2020-06-17 00:45] kriskowal commented on #93
I agree. Can you spare some time to propose a change?

I’m not entirely sure whether I’m still a maintainer here, but I can offer a review and inquire.

[2020-06-17 09:20] hthetiot commented on #93
Cc @cdebost

[2020-06-17 16:45] vanakema commented on #93
I'll try to look at the underlying code soon, but I have a feeling that changing the implementation will dramatically reduce performance, since I'm guessing it first sorts everything, and then does deduplication in array order, requiring duplicates to be ordered next to each other in the underlying array, at least for initialization. Updating of documentation might be the quick route to somewhat s

[2020-06-17 16:54] kriskowal commented on #93
Yes, I believe documenting the invariants more thoroughly is the right way
to go. Are you familiar with the companion documentation site
http://www.collectionsjs.com/?

On Wed, Jun 17, 2020 at 9:46 AM Mark V <notifications@github.com> wrote:

[2020-06-17 16:56] vanakema commented on #93
Yeah

[2020-06-17 16:57] vanakema commented on #93
Ok found the docs repo. I'll try and open an PR soon.

[2020-06-17 19:05] raghuindra opened #241 "Maximum Call stack size reached on Shim-Array"
Main project has dependent on collections/shim-array and one of its npm package also depends upon collections/shim-array.
And whenever in the code we imported(required) both packages, node js returning Maximum call stack size.
Same scenario is not happening with any other such inter dependency packs like mongoose, geolib, etc.

[2020-07-10 06:50] nickyang07 commented on #224
Having the same issue with jest. Any thoughts?

[2020-08-25 12:11] ejames17 commented on #241
same here.

[2020-09-24 01:39] sgronblo opened #242 "shim-array version of Array.from not compatible with object with length property"
The current shim-array version calls out to "Array.nativeFrom" in case the passed in value has a function in `value[Symbol.iterator]`

https://github.com/montagejs/collections/blob/master/shim-array.js#L30

If `value[Symbol.iterator]` is not a function it proceeds to call the array`.addEach(values)` instead which ignores the `mapFn` parameter. This breaks cases where `Array.from` is called like th

[2020-09-24 01:51] sgronblo commented on #95
What's the latest status on this v2 branch being published officially? And what is the maintenance status of this project?

[2020-09-24 02:03] kriskowal commented on #95
v2 was published as v2 on npm, although it is not the “latest” version. I am not an active maintainer on this project.

[2020-09-24 05:02] marchant commented on #242
if(isSymbolDefined && values && (typeof values[Symbol.iterator] === "function" || typeof mapFn === "function")) {
        return Array.nativeFrom(values, mapFn, thisArg);
    }

Should do the trick. There collections using Array.from() passing a value that predated the native Array.from() that wouldn't be handled properly and create backward compatibility issues.

[2020-09-24 05:04] marchant commented on #242
committed, give it a try

[2020-09-24 10:14] hthetiot commented on #95
For latest V2 update see PR here https://github.com/montagejs/collections/pull/189

[2020-09-25 03:21] sgronblo commented on #242
Yep, this would solve at least this particular instance of the problem I'm experiencing. Could you publish a new patched version with this change?

[2020-09-25 05:51] marchant commented on #242
done

[2020-09-25 05:51] #242 closed

[2021-02-25 16:54] deepanshululla opened #243 "Add data structure Trie"
I see the trie data structure is not implemented. Are there any open PRs that deal with that or I can create one.

[2021-02-25 17:06] marchant commented on #243
No and I don’t think so, but feel free to propose one. That said, there are a certain number of shared behavior collections provide that would be expected to be there to maintain api integrity beyond just a trie being a trie.

[2021-03-01 21:13] robross0606 commented on #241
Seeing same thing here for me:
[code]

[2021-03-01 21:49] marchant commented on #241
Committed a tentative fix on master, please try it and let me know if it fixes it.

[2021-03-02 09:18] matthiasg commented on #241
Just wanted to use collections for the first time. The algorithms implemented looked decent, but to be honest I am quite disappointed that importing e.g. `collections/sorted-map` would shim anything. Not only because of the above error I just fell in as well, and going back to 5.0.0 did not help (it does not seem to support generators ?).

In general I find shimming of global objects like overwrit

[2021-03-03 14:47] Robula commented on #241
We've just hit this too on `5.1.12`.

Note: We aren't using `collections` directly, it is a transitive dependency via another package.

[2021-10-31 07:09] anatol-grabowski opened #245 "[feature request] SortedMap pop and shift methods"
This functionality was lacking when I was implementing order book service (https://docs.kraken.com/websockets/#message-book) through SortedMap. When the maximum stored length is reached and a new level comes we want to `pop` the last element.

This could of course be implemented through `map.delete(map.entries()[0][0])` but a call to `entries` would run a loop over each item in the map which is in

[2021-12-27 09:35] NebzHB commented on #241
Dears,
I have the same problem when using collections on dependancies of homebridge-alexa (in mqtt dependancies) :
RangeError: Maximum call stack size exceeded
at Function.Array.from (/usr/local/lib/node_modules/homebridge-alexa/node_modules/collections/shim-array.js:32:22)
at Function.Array.from (/usr/local/lib/node_modules/homebridge-alexa/node_modules/collections/shim-array.js:32:22)
at Functio

[2021-12-28 14:42] NorthernMan54 commented on #241
@marchant - Is it possible to get this fix pushed out as a release ?

In the homebridge community we have had numerous users of our packages impacted by this issue due to the usage of mqtt.

[2021-12-28 15:07] NebzHB commented on #241
this fix doesn't fix the issue :( i've tried it

[2021-12-28 15:11] NorthernMan54 commented on #241
@NebzHB - When I was testing, I applied the fix to all the plugins leveraging collections and that appeared to resolve the issue.  Did you try that

[2021-12-28 15:13] NebzHB commented on #241
not to all of them, i'll try

[2021-12-28 15:36] NebzHB commented on #241
well... homebridge-camera-ffmpeg seems to still use it (^4.2.8) but doesn't crash here... so with only changing homebridge-alexa, it doesn't solve. but push to release anyway, we'll see ;)

[2021-12-29 04:26] redboltz commented on #241
I tried to reproduce the issue using minimal code.

When I import (emulation code) version 5.1.12 once, it works fine.
https://wandbox.org/permlink/hmddUMmg9KvZGz94

However, I import version 5.1.12 twice, then infinity recursivee call happens.
https://wandbox.org/permlink/bmniUnfwt8nqlrVB

If import order is 5.1.12 -> master, then it works fine.
https://wandbox.org/permlink/a6ttiL4PrB59cnN6

If i

[2021-12-29 08:08] marchant commented on #241
I just published the latest master as version 5.1.13.

[2021-12-29 14:00] NorthernMan54 commented on #241
@marchant Tks very much I just updated my test environment and can no longer recreate the issue.  ( I validated that npm had installed collections 5.1.13 )

@redboltz tks for the pull request against mqtt

[2022-01-31 08:54] JesusTheHun commented on #240
While I agree with you @icfantv , contribution comes from adoption. Lack of TS support means lower adoption. Also while I would love to contribute by creating the types, you must admit that creating the declaration files requires a solid knowledge of this lib.

[2022-03-14 14:17] Paril opened #246 "MultiMap doesn't seem to be functioning properly"
With node v16.14.0 and latest collections.js (5.1.13):

[code]

Not sure exactly what approach to take to fixing this yet.

[2022-07-25 06:54] hyusetiawan opened #248 "updating the contentCompare in SortedSet"
I am working with SortedSet, for my use case to keep sorted rows that will be presented on a table. As one would expect, clicking a column of the table would change the sort order, asc/desc, now the question is, how do I do this?
I see there is a public function called `contentCompare()` do I just replace that and call `splay()`, something like

[code]
is this how it';s supposed to be? or is there

[2022-10-09 07:09] nicoxxl commented on #240
I am using vue3/vite, without `@types/collections` and I have the same error.

It seems to be coming from this line :
[code]

And as stated by [MDN](https://developer.mozilla.org/en-US/docs/Glossary/Global_object), `global` only exist for node.
If I understood it correctly, this fix should be simply using `globalThis` instead of `global`.